.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;

  svg {
    width: 5.2rem;
    height: 5.2rem;
  }

  h2 {
    font-family: 'Poppins', sans-serif;
  }
  p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 16px;

    button.cancel {
      background: #dbdcdd;
      color: #737380;
    }

    button.confirm {
      background: #e73f5d;
      color: #fff;
    }
  }
}
